<!DOCTYPE html>
<html>
  <head>
    <title> Comments for the People</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <h1>User ID = <%= current_user.id %></h1>
    <% else %>
  <h1> Click <%= link_to 'here', new_user_registration_path %> to sign up </h1>
    <% end %>

    <hr>
    <br>

    <% if current_user %>
      Welcome <a> <%=link_to "#{current_user.email}", current_user%>
 </a>
    <br>
       <%= link_to 'Home', root_url %> |
       <%=link_to 'My Profile', current_user%>|
       <%=link_to 'Posts', posts_path %>|
       <%=link_to 'Add Post', new_post_path %>|
       <%= link_to 'Log Out', destroy_user_session_path %>
    <% else %>
       <%= link_to 'Home', root_url %> |
       <%=link_to 'Posts', posts_path %>|
       <%= link_to 'Log In', new_user_session_path%> |
       <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>

    <br>

    <%= yield %>

  </body>

</html>
